*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.mainMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:110vh;
    background-image: linear-gradient(to right, #bcd3c3,  #a7eebc);
    gap: 60px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.calculator, .buyCrypto, .sellCrypto, .news, .settings {
    width: 308px;
    height: 86px;
    background-image: linear-gradient(to right, #219E44,  #219E85);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
    z-index: 1;
}

.calculator i, .buyCrypto i, .sellCrypto i, .news i, .settings i {
    font-size: 1.5rem;
    color: white;
}

.calculator:hover, .buyCrypto:hover, .sellCrypto:hover, .news:hover, .settings:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.buySell{
    display: flex;
    flex-direction: row;
    gap: 24px;
    cursor: pointer;
   
}
.buyCrypto, .sellCrypto {
    width: 140px;
    height: 140px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.buyCrypto:hover, .sellCrypto:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.news, .settings {
    width: 308px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s;
}

.news:hover, .settings:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.mainMenu span{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: white;
    width: 100%;
    text-align: center;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    position: absolute;
    top: 10vh;
}
.main-container a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
 .settings i{
    margin-right: 0;
    position: relative;
    left: 100px;
}
.news i{
    margin-right: 0;
    position: relative;
    left: 110px;
}