*{
  font-family: 'Poppins';
  box-sizing: border-box;
}
.primary-navbar{
  width: 480px;
  height: 7vh;
  background-color: green;
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
.primary-navbar a{
  color: white;
  text-decoration: none;
}
.logo-bottom{
  position: absolute;
  bottom: 10%;
}


